<div class="container">
    <div class="box">
      <h1>FISHERS</h1>
      <p><a href="/photo">Photo</a></p>
      <p></p><a href="/">Upload</a></p>
    </div>
</div>
  

<div class="box2">
</div>


<div class="fashionable-box3">
    <h2>AI魚種類 & 大きさ予想アプリ FISHERS</h2>
</div>


<div class="fashionable-box4">
    <h2>写真を撮るだけで</h2>
    <a2><h2>魚名がわかる！大きさも予測！</h2></a2>

    <h3>「FISHERS」は画像認識AIを利用しています。</h3>
    <h3>写真を撮るだけですぐに魚の名前を理解できます。また、魚の大きさも特定します。スマホ一つで種類と大きさがわかります！</h3>
</div>


<div class="fashionable-box5">
    <h2>AI判定で、より正確な魚の名前を確認しよう!</h2>

    <div class="fashionable-box5-mini">
        <a3><h2>\カメラで撮るだけで・・・/</h2></a3>
        <h3>「写真を撮るだけで詳しい魚の種類が理解できます。</h3>
    </div>

    <div class="fashionable-box5-mini">
        <a3><h2>\AIが魚を判定!/</h2></a3>
        <h3>アウトドアだけでなくお食事の際の話題作りにも最適。</h3>
    </div>
</div>


<div class="fashionable-box6">
    <h2>利用シーンは釣りだけじゃない！！</h2>

    <div class="fashionable-box6-mini">
        <a3><h2>アウトドア釣りで釣れた魚の魚名を即座に確認！</h2></a3>
        <h3>FISHERSがあれば、魚名はもちろん大きさまでわかります。海の魚、川の魚、約300種類の魚を認識できます。</h3>
    </div>

    <div class="fashionable-box6-mini">
        <a3><h2>飲み会で！/</h2></a3>
        <h3>FISHERSはお刺身もわかります。飲み会やお食事の場での話題作りに最適です!</h3>
    </div>
</div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/jquery.ripples-min.js"></script>
  <link rel="stylesheet" href="../static/css/top.css">
  <script src="static/js/top.js"></script>